/* Estilos generales */
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    font-family: 'Kanit', sans-serif;
    background-image: url(Assets/Fondo\ sin\ margen.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(64, 1, 1, 0.3); /* Bordó oscuro con opacidad */
    z-index: -1;
}

/* HEADER / NAVBAR */
header {
    position: relative;
    background: #400101;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-top: solid 3px #f2bb13;
    border-bottom: solid 3px #f2bb13;
}

/* Contenedor del header */
.headercontacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 10px 20px;
}

/* Logo */
.logoencontacto {
    width: 65px;
    transition: transform 0.3s ease-in-out;
}

.logoencontacto:hover {
    transform: scale(1.07);
}

/* Barra de navegación */
.navlistcontacto {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

.navlistcontacto li {
    display: inline;
    margin: 5px;
    transition: 0.5s ease;
    margin: 0 auto;
}

.navlistcontacto li:hover {
    color: black;
    background-color: #f2bb13;
    border-radius: 30px;
    border: 1px solid #f2bb13;
    padding: 7px;
}

.navlistcontacto a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    padding: 15px;
    border-radius: 5px;
}

.navlistcontacto a:hover {
    text-decoration: none;
    color: black;
}

li a:hover svg .cart {
    fill: black !important;
}

/* Boton flotante Whastapp */
.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #25D366;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    animation: breathe 2s ease-in-out infinite;
  }
  
  /*Estilos solo al icono whatsapp*/
  .whatsapp-btn i {
    color: #fff;
    font-size: 24px;
    animation: beat 2s ease-in-out infinite;
    text-decoration: none;
  }
  
  /*Estilos con animation contorno respirando*/
  @keyframes breathe {
    0% {
      box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
    }
    70% {
      box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  
  /*Estilos de animacion del icono latiendo*/
  @keyframes beat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

/* SECCIÓN CONTACTO */
#contacto {
    padding: 20px 10px;
    display: block;
    text-align: center;
    margin: 0 auto;
}

#contacto h2 {
    font-size: 28px;
    color: #730202;
    font-weight: 700;
    margin-bottom: 15px;
}

#contacto p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}


.contacto-info {
   display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    gap: 60px;
}

.contacto-datos {
    background-color: #730202;
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: #730202;
    max-width: 400px;
    height: fit-content;
    text-align: start;
}

.contacto-datos p {
    margin: 10px 0;
    font-size: 15px;
    font-weight: 500;
}

.texto-enviar-mensaje {
    color: #f2bb13;
    text-decoration: none;
    margin-left: 5px;
}

.texto-enviar-mensaje:hover {
    color: black;
    background-color: #f2bb13;
    border-radius: 30px;
    transition: 0.5s ease;
    font-weight: 700;
    border: 1px solid #f2bb13;
    padding: 5px;
}

/* Google Maps */
iframe {
    height: 450px;
    border-radius: 10px;
    aspect-ratio: 16 / 9;
    max-width: 600px;
    width: 100%;
}

/* INICIO FOOTER */
footer {
    background: #400101;
    border-top: solid 3px #f2bb13;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Palabra JR en negrita */
.texto_JR_Burguesia {
    margin-right: 1px;
}

#derechos {
    text-align: center;
    color: gray;
}

/* FIN FOOTER */

