/* Estilos generales */
*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(/JrBurguesia/Flyers/Añadir\ un\ título\ \(Tu\ historia\)-6.png);
    background-size: 50%;
}

/* Modifique header 11-3 */
.header {
    width: 100%;
    height: 100%;
    background-image: url(https://s2.abcstatics.com/abc/sevilla/media/gurme/2024/09/19/s/receta-de-la-mejor-hamburguesa-del-mundo.jpg-khAC--1248x698@abc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
    transition: 0.5s ease;
}

.logo-header:hover {
    transform: scale(1.05);
}

#productos_destacados {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titulo {
    color: #730202;
    font-weight: bold;
}

/* BARRA DE NAVEGACIÓN Menu - Donde estanos*/
.navlist {
    text-align: center;
    list-style: none;
    padding: 15px;
    background: #400101;
}

.navlist li {
    display: inline;
    margin: 15px;
    transition: 0.5s ease;
}

.navlist li:hover{
    color: black;
    background-color: #f2bb13;
    border-radius: 30px;
    border: 1px solid #f2bb13;
    padding: 5px;
}

.navlist a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navlist a:hover{
    text-decoration: none;
    color: black;
}


/* SECCION PRODUCTOS */
.productos-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.producto {
    background: #730202;
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
}

.producto:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.producto img {
    width: 100%; /* Para que ocupen todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción */
    max-width: 250px; /* Limita el tamaño máximo */
    display: block;
    margin: 0 auto; /* Centra la imagen */
    border-radius: 10px;
}
/* FIN SECCION PRODUCTOS */

/* BOTONES */
.boton {
    background: #F1B24A;
    scroll-behavior: smooth;
    padding: 10px 20px;
    border-radius: 8px;
    color: #164A41;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s ease;
}

.boton:hover {
    background: #4D774E;
    color: white;
}

/* INICIO SECCION NOSOTROS */ 
#nosotros {
    display: block;
    text-align: center;
}

/* Palabra JR en negrita */
.texto_JR_Burguesia {
    margin-right: 1px;
}
/* FIN SECCION NOSOTROS */

/* INICIO FOOTER */
footer {
    background: #400101;
    color: white;
    padding: 10px;
}

/* Iconos de redes sociales, para que haga un efecto */
.color_icons:hover {
    fill: #f2bb13;    
}

.social_icons a svg g:hover {
    background-color: #164A41   ;
}
/* FIN FOOTER */