/* Estilos generales */
*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

body {
    font-family: 'Kanit', sans-serif;
    background-image: url(Assets/Fondo\ sin\ margen.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(64, 1, 1, 0.3); /* Bordó oscuro con opacidad */
    z-index: -1;
}

/* Modifique header 11-3 */
.header {
    width: 100%;
    height: 100%;
    background-image: url(https://s2.abcstatics.com/abc/sevilla/media/gurme/2024/09/19/s/receta-de-la-mejor-hamburguesa-del-mundo.jpg-khAC--1248x698@abc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
    transition: all 0.5s ease;
}

.logo-header{
    transition: all 0.5s ease;
}

.logo-header:hover {
    transform: scale(1.05);
}

#productos_destacados {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titulo {
    margin: 15px;
    color: black;
    font-weight: bold;
    font-weight: 700;
    text-align: center;
}

/* BARRA DE NAVEGACIÓN Menu - Donde estamos*/
.navlist {
    border-top: solid 3px #f2bb13;
    border-bottom: solid 3px #f2bb13;
    text-align: center;
    list-style: none;
    padding: 10px;
    background: rgb(85, 2, 2);
}

.navlist li {
    display: inline;
    margin: 3px;
    transition: 0.5s ease;
    margin: 0 auto;
}


.navlist li:hover{
    color: black;
    background-color: #f2bb13;
    border-radius: 30px;
    border: 1px solid #f2bb13;
    padding: 3px;
}

.navlist a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    width: 155px;
}

.navlist a:hover{
    text-decoration: none;
    color: black;
}

/* SECCION PRODUCTOS */
.productos {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

/* Card de producto */
.producto {
    background: #730202;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    height: fit-content;
    border: 1px solid #f2bb13;
}

.producto:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

/* Imagen de cada categoria */
.producto img {
    width: 100%; /* Para que ocupen todo el ancho del contenedor */
    height: fit-content; /* Mantiene la proporción */
    max-width: 250px; /* Limita el tamaño máximo */
    display: block;
    margin: 0 auto; /* Centra la imagen */
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px solid #f2bb13;
}

.texto-card {
    text-decoration: none;
    color: white;
}

/* Texto con el nombre de cada categoria */
.texto-card h3 {
    font-size: 22px;
    font-weight: bold;
}

.texto-card h3:hover {
    color: black;
    background-color: #f2bb13;
    border-radius: 30px;
    border: 1px solid #f2bb13;
    padding: 2px;
    font-size: 23px;
    transition: 0.5s ease;
}
/* FIN SECCION PRODUCTOS */

/* Boton flotante de Whastapp */
.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #25D366;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    animation: breathe 2s ease-in-out infinite;
  }
  
  /*Estilos solo al icono whatsapp*/
  .whatsapp-btn i {
    color: #fff;
    font-size: 24px;
    animation: beat 2s ease-in-out infinite;
    text-decoration: none;
  }
  
  /*Estilos con animation contorno respirando*/
  @keyframes breathe {
    0% {
      box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
    }
    70% {
      box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  
  /*Estilos de animacion del icono latiendo*/
  @keyframes beat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

/* INICIO SECCION NOSOTROS */ 
#nosotros {
    display: block;
    text-align: center;
    font-size: 20px;
    color: black;
    max-width: 90%;
    margin: 0 auto;
}

/* Palabra JR en negrita */
.texto_JR_Burguesia {
    margin-right: 1px;
}
/* FIN SECCION NOSOTROS */

/* INICIO FOOTER */
#footer {
    background-color: rgb(85, 2, 2);
    border-top: solid 3px #f2bb13;
    color: white;
    padding: 10px; 
    text-align: center;
    bottom: 0;
    width: 100%;
}

#derechos {
    text-align: center;
    color: gray;
}
/* FIN FOOTER */

