* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Kanit', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(Assets/fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* barra de navegacion */
#navlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(53, 4, 2);
    color: white;
    height: 100px;
    padding: 10px 20px;
    height: 120px;
}

.logo-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.logo-link:hover{
    scale: 1.10;
    color: #730202;
}

#imgLogo{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

/* categorías */
#barraCategorias {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 35px;
    font-style: italic;
    font-weight: 600;
    background-color: rgb(53, 4, 2);
    color: #f2bb13;
    padding: 20px;
}

.left-section{
    display: block;
    align-items: center;
    gap: 10px;
    margin-left: 100px;
}

.contacto{
    color: #f2bb13;
    cursor: pointer;
    font-size: 35px;
    transition: all 0.5s ease;
}

.contacto:hover{
    scale: 1.10;
    color: #ff9900;
}

.logoArriba{
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    color: #f2bb13;
}

.right-section{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 100px;
}

#carrito{
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: all 0.5s ease;
}

#carrito:hover{
    scale: 1.10;
}

#catHamburguesas {
    gap: 20px;
    cursor: pointer;
    padding: 20px;
    transition: all 0.5s ease;
    border-radius: 20px;
    text-decoration: none;
    color: inherit;
}

#catHamburguesas:hover {
    text-decoration: underline;
    transform: scale(1.10);
    opacity: 0.9;
    background-color: #730202cd;
    color: white;
}


#catLomitos{
    gap: 20px;
    cursor: pointer;
    padding: 20px;
    transition: all .5s ease;
    border-radius: 20px;
    text-decoration: none;
    color: inherit;
}
#catLomitos:hover{
    text-decoration: underline;
    scale: 1.10;
    opacity: 90%;
    background-color: #730202cd;
    color: white;
}

#catMilanesas{
    gap: 20px;
    cursor: pointer;
    padding: 20px;
    transition: all .5s ease;
    border-radius: 20px;
    text-decoration: none;
    color: inherit;
}
#catMilanesas:hover{
    text-decoration: underline;
    scale: 1.10;
    opacity: 90%;
    background-color: #730202cd;
    color: white;
}

#catPapas{
    gap: 20px;
    cursor: pointer;
    padding: 20px;
    transition: all .5s ease;
    border-radius: 20px;
    text-decoration: none;
    color: inherit;
}
#catPapas:hover{
    text-decoration: underline;
    scale: 1.10;
    opacity: 90%;
    background-color: #730202cd;
    color: white;
}

#catCombos{
    gap: 20px;
    cursor: pointer;
    padding: 20px;
    transition: all .5s ease;
    border-radius: 20px;
    text-decoration: none;
    color: inherit;
}
#catCombos:hover{
    text-decoration: underline;
    scale: 1.10;
    opacity: 90%;
    background-color: #730202cd;
    color: white;
}

/* estilo para parte de hamburguesas*/
.imagenesHamburguesas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 200px;
    padding: 20px 200px; 
    margin-top: 20px;
}

.imagenesHamburguesas img {
    width: 100%;
    height: auto;
    border-radius: 50px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.imagenesHamburguesas img:hover {
    transform: scale(1.05);
}

.containerHamburguesas{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;
    gap: 10px 10px;
    text-align: center;
    font-size: 75px;
    font-style: italic;
    font-weight: 700;
}
#categoriaHamburguesas{
    height: 25px;
    width: 100%;
    color: white;
}

/* estilo para parte de lomitos*/
.imagenesLomitos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 200px;
    padding: 20px 200px;
    margin-top: 20px;
}

.imagenesLomitos img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.imagenesLomitos img:hover {
    transform: scale(1.05);
}
.containerLomitos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;
    gap: 10px 10px;
    text-align: center;
    font-size: 75px;
    font-style: italic;
    font-weight: 700;
}
#categoriaLomitos{
    height: 25px;
    width: 100%;
    color: white;
}

/* estilo para parte de milanesas*/
.imagenesMilanesas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 200px;
    padding: 20px 200px;
    margin-top: 20px;
}

.imagenesMilanesas img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.imagenesMilanesas img:hover {
    transform: scale(1.05);
}
.containerMilanesas{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;
    gap: 10px 10px;
    text-align: center;
    font-size: 75px;
    font-style: italic;
    font-weight: 700;
}
#categoriaMilanesas{
    height: 25px;
    width: 100%;
    color: white;
}

/* estilo para parte de papas*/
.imagenesPapas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 200px;
    padding: 20px 200px;
    margin-top: 20px;
}

.imagenesPapas img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.imagenesPapas img:hover {
    transform: scale(1.05);
}
.containerPapas{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;
    gap: 10px 10px;
    text-align: center;
    font-size: 75px;
    font-style: italic;
    font-weight: 700;
}
#categoriaPapas{
    height: 25px;
    width: 100%;
    color: white;
}

/* estilo para parte de combos*/
.imagenesCombos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 200px;
    padding: 20px 200px;
    margin-top: 20px;
}

.imagenesCombos img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.imagenesCombos img:hover {
    transform: scale(1.05);
}
.containerCombos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;
    gap: 10px 10px;
    text-align: center;
    font-size: 75px;
    font-style: italic;
    font-weight: 700;
}
#categoriaCombos{
    height: 25px;
    width: 100%;
    color: white;
}
/* fondo oscuro para modal */
.modal {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(3px);
    animation: fadeIn 0.5s ease forwards;
}

/* Contenido del Modal */
.modal-content {
    background-color: #f2bb13;
    color: #730202;
    margin: 10% auto;
    padding: 20px;
    border-radius: 12px;
    width: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-50px);
    opacity: 0;
    transition: all 0.5s ease;
}

/* mostrar modal */
.modal.show .modal-content {
    transform: translateY(0);
    opacity: 1;
}

/* cerrar modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: #000;
}

/* animacion del fondo */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.modal-title-estilo {
    color: #730202;
    font-size: 45px;
    font-weight: bold;
    margin-top: 35px;
}

.modal-description-estilo {
    color: #bf0404;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hamburguesa-item button {
    margin-top: 30px;
    padding: 8px 12px;
    background-color: #ffcc00;
    border: 10px solid #730202;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s ease;
    color: #730202;
    font-size: 20px;
    font-style: italic;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
}

.hamburguesa-item button:hover {
    background-color: #ff9900;
    scale: 1.10;
}

#footer{
    display: flex;
    color: white;
    font-size: 20px;
    width: 100%;
    background-color: rgb(90, 3, 2);
    padding: 50px;
    font-style: normal;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}