/* Estilos generales */
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

body {
  font-family: 'Kanit', sans-serif;
  background-image: url(Assets/Fondo\ sin\ margen.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(64, 1, 1, 0.3); /* Bordó oscuro con opacidad */
  z-index: -1;
}

/* Boton flotante Whastapp */
.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #25D366;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  animation: breathe 2s ease-in-out infinite;
}

/*Estilos solo al icono whatsapp*/
.whatsapp-btn i {
  color: #fff;
  font-size: 24px;
  animation: beat 2s ease-in-out infinite;
  text-decoration: none;
}

/*Estilos con animation contorno respirando*/
@keyframes breathe {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/*Estilos de animacion del icono latiendo*/
@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
  
/* HEADER / NAVBAR */
header {  
  background: #400101;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-top: solid 3px #f2bb13;
  border-bottom: solid 3px #f2bb13;
}

/* Contenedor del header */
.headermenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 10px 20px;
}

/* Logo */
.logoencontacto {
  width: 65px;
  transition: transform 0.3s ease-in-out;
}

.logoencontacto:hover {
  transform: scale(1.07);
}

/* Barra de navegación */
.navlistmenu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}

.navlistmenu li {
  display: inline;
  margin: 5px;
  transition: 0.5s ease;
  margin: 0 auto;
}

.navlistmenu li:hover {
  color: black;
  background-color: #f2bb13;
  border-radius: 30px;
  border: 1px solid #f2bb13;
  padding: 7px;
}

.navlistmenu a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  padding: 15px;
  border-radius: 5px;
}

.navlistmenu a:hover {
  text-decoration: none;
  color: black;
}

li a:hover svg .cart {
  fill: black !important;
}  


main {
  min-height: calc(100vh - 100px - 100px); /* Altura mínima para ocupar toda la página menos el header y footer */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /* Centrar contenido verticalmente si está vacío */
  margin-bottom: 10px;
  width: 90%; /* Aumentar el ancho del contenido dentro del main */
  margin-left: auto;
  margin-right: auto;
}

/* Título principal */
main h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: white;
    text-align: center;
}
  

/* Contenedor del carrito */
#carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 700px;
    margin: 0 auto;
  }
  
  /* Item en el carrito */
  .item-carrito {
    background-color: #730202;
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
    border: 1px solid #f2bb13;
  }
  
  .info-producto h3 {
    color: #f2bb13;
    margin-bottom: 0.5rem;
    font-size: 30px;
    margin-top: -10px;
  }
  
  .info-producto p {
    margin-bottom: 0.2rem;
    color: white;
    font-weight: 700;
  }
  
  /* Botón eliminar */
  .btn-eliminar {
    background-color: #bf0404;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-eliminar:hover {
    background-color: #f29b30;
    color: #400101;
  }
  
  /* Total carrito */
  .total-carrito {
    text-align: center;
    margin-top: 2rem;
  }
  
  .total-carrito h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
  }
  
/* Botones de continuar compra y finalizar compra */  
  .botones-continuar-finalizar {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 10px;
  }

  .btn-finalizar {
    background-color: #400101;
    color: white;
    border: none;
    padding: 8px;
    font-size: 20px;
    border-radius: 12px;
    cursor: pointer;
    /*transition: background-color 0.3s;*/
  }
  
  .btn-finalizar:hover {
    color: black;
    background-color: #f2bb13;
    border: 1px solid #f2bb13;
    padding: 9px;
    font-size: 21px;
    transition: 0.3s ease;
  }

  .btn-volver{
    background-color: #400101;
    color: white;
    border: none;
    padding: 8px;
    font-size: 20px;
    border-radius: 12px;
    cursor: pointer;
    /*transition: background-color 0.5s;*/
  }

  
  .btn-volver:hover{
    color: black;
    background-color: #f2bb13;
    border: 1px solid #f2bb13;
    padding: 9px;
    font-size: 21px;
    transition: 0.3s ease;
}
    
/* INICIO FOOTER */
footer {
    background: #400101;
    border-top: solid 3px #f2bb13;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: auto; 
  }

/* Palabra JR en negrita */
.texto_JR_Burguesia {
  margin-right: 1px;
}

#derechos {
  text-align: center;
  color: gray;
}
/* FIN FOOTER */

.carrito-vacio {
  text-align: center;
  padding: 40px;
  font-size: 30px;
}

.carrito-vacio p {
  margin-bottom: 20px;
}
